<div data-ng-if="$ctrl.displayChildInformation"
     class="well well-lg top-padding top-spacing">
  <p class="text-uppercase">
    Child
  </p>

  <div class="row bottom-spacing">
    <div class="col-sm-6">
      <label>First Name<sup>*</sup></label>
    </div>
    <div class="col-sm-6">
      <label>Last Name<sup>*</sup></label>
    </div>
  </div>
  <div class="row bottom-spacing">
    <div class="col-sm-6">
      <input type="text" class="form-control"/>
    </div>
    <div class="col-sm-6">
      <input type="text" class="form-control"/>
    </div>
  </div>
  <div class="row">
    <button type="submit"
            class="btn btn-primary btn-sm pull-right left-padding right-padding">
      Save
    </button>
    <button type="reset"
            class="btn btn-default btn-sm pull-right right-spacing left-padding right-padding">
      Cancel
    </button>
  </div>
</div>
