<div class="well well-lg no-margin"
     data-ng-class="($ctrl.isSubmitEnabled)? 'well-lg': 'well-lg-inactive no-border'">
  <form novalidate
        autocomplete="off"
        data-ng-submit="$ctrl.addChildInformation()">
    <p class="text-danger"
       data-ng-if="$ctrl.displayErrorMessage">
      Please enter both first and last name
    </p>
    <div class="row">
      <child-side-panel
        child="$ctrl.child"
        children-number="$ctrl.childrenInformation.length">
      </child-side-panel>
      <!--<div class="row">-->
      <div class="col-sm-2">
        <label class="child-form-label top-margin">
          First Name<sup>*</sup>
        </label>
      </div>
      <div class="col-sm-2 col-sm-offset-2">
        <label class="child-form-label top-margin">
          Last Name<sup>*</sup>
        </label>
      </div>
      <!--</div>-->
    </div>

    <div class="row bottom-spacing">
      <div class="col-sm-4 col-sm-offset-4">
        <input type="text"
               class="form-control"
               placeholder="jane"
               data-ng-disabled="$ctrl.child.childNameInputDisabled"
               data-ng-model="$ctrl.childFirstName"
               data-ng-required="true"/>
      </div>
      <div class="col-sm-4">
        <input type="text"
               class="form-control"
               placeholder="doe"
               data-ng-disabled="$ctrl.child.childNameInputDisabled"
               data-ng-model="$ctrl.childLastName"
               data-ng-required="true"/>
      </div>
    </div>
    <div class="row">
      <button type="submit"
              data-ng-if="$ctrl.isSubmitEnabled"
              class="btn btn-primary btn-sm pull-right left-padding right-padding">
        Save
      </button>
      <button type="reset"
              data-ng-if="$ctrl.isResetEnabled"
              class="btn btn-default btn-sm pull-right right-spacing left-padding right-padding"
              data-ng-click="">
        Cancel
      </button>
    </div>
  </form>

</div>
