<div>
 <p class="title-step">Children</p>
  <span class="text-question">{{ $ctrl.question }}</span>
  <span class="left-spacing">

    <input type="radio"
           id="yes"
           value="yes"
           name="childSelect"/>

    <label for="yes"
           class="text-label-radio-button right-spacing">
      Yes
    </label>

    <input type="radio"
           id="no"
           value="no"
           name="childSelect"/>

    <label for="no"
           class="text-label-radio-button">
      No
    </label>

  </span>
</div>
